@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        transition: all 300ms linear;
        scroll-behavior: smooth;
    }

    img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

}

@layer components {
    .slide {
        position: absolute;
        transition: all 600ms ease-in-out;
        z-index: -1;
    }

    .slide-show {
        opacity: 1;
        z-index: 10;
        transform: translateX(0%);
    }

    .slide-next {
        opacity: 1;
        transform: translateX(100%)!important;
    }

    .slide-prev {
        opacity: 1;
        transform: translateX(-100%);
    }
    .dot-current {
        background: #d3d3d3;
    }
}